#vscode ignore
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
api_keys

#Folders ignore
__pycache__


#Files ignore
bounding_box.py
traffic.py
*.wav
log.txt